python-dotenv
rich
uvicorn
fastapi
anyio
sqlalchemy
pandas
tqdm
datasets
jsonschema
anthropic
dataclasses-json
marshmallow
openai
google-generativeai
Pillow
pexpect
playwright
tenacity
starlette
pydantic==2.10.6
pydantic-core
typing-extensions
typing-inspect
annotated-types
sniffio
exceptiongroup
pytest
pluggy
pygments
iniconfig
mypy-extensions
httpx
idna
distro
google-ai-generativelanguage
google-api-core
googleapis-common-protos
protobuf
grpcio
requests
urllib3
certifi
chardet
google-auth
pyasn1
pyasn1-modules
rsa
cachetools
cryptography
proto-plus
httplib2
pyparsing
google-api-python-client
uritemplate
attrs
referencing
rpds-py
jsonschema-specifications
ptyprocess
