python-dotenv
rich
uvicorn
fastapi
anyio
sqlalchemy
pandas
tqdm
datasets
jsonschema
anthropic
dataclasses-json
openai
google-generativeai
Pillow
pexpect
playwright
tenacity
starlette
pydantic
pydantic-core
typing-extensions
typing-inspection
annotated-types
sniffio
exceptiongroup
pytest
pluggy
pygments
iniconfig
